*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Exo', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.preload
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: opacity 2.5s 1s step-end;
}
.preload-finish
{
    opacity: 0;
    pointer-events: none;
}
#logo_frontloader 
{
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1
{
    font-size: large;
    font-weight: 400;
}
/* Mobile first queries */
h2
{
    font-size: medium;
    font-weight: 400;
}
h3
{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3em;
}
h4
{
    font-size: 1.5em;
    font-weight: 400;
}
h5
{
    font-size: 0.8em;
    font-weight: 400;
}
h6
{
    font-size: 0.6em;
    font-weight: 500;
}
p
{
    font-size: 0.8em;
    font-weight: 500;
}
a
{
    text-decoration: none;
    color: #000;
}
/* Larger than mobile */
@media (max-width: 400px) {
header 
{
    width: 100vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}
.navTop
{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}
.nav_chevron
{
    width: 0.7em;
    transition: transform .3s;
}
.rotate 
{
   transform: rotate(180deg); 
   transition-delay: 5ms;
}
.showNav
{
    display: block;
}
nav
{
    width: 100%;
    height: auto;
    display: none;
    animation: fadeOut 4s ease-in-out ;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
nav ul
{
   width: 100%;
   height: 30vh;
   padding: 1% 0;
   z-index: 999;
   position:absolute;
}
nav ul li 
{
    list-style: none;
    background-color: rgba(255,255,255,0.7);
    padding-left:3em;
}
nav ul li a
{
    text-decoration: none;
    color: #000;
    line-height: 1.8em;
}
nav ul li a:hover
{
    color: #4cceb4;
}   
.video_camera img
{
    width: 96vw;
    height: 25vh;
    border-radius: 2%;
}
.video_and_circles
{
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.nameOfCamera
{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circles
{
    width: 20vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle
{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
}
.circleActive
{
    background-color: #999;
}
section {
  height: 100%;
  margin: 7% 0  ;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo
{
    margin: 30% 0 6% 1%;
}
#logo svg
{
    width: 20vw;
    height: auto;
    margin: 5%;
}
main
{
    width: 100vw;
    height: auto;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.containers
{
    width: 100%;
    height: auto;
    margin: 7% 0;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content:center;
}
button
{
    width: auto;
    height: auto;
    margin: 1%;
    padding: 2%;
    background-color: #ffffff;
}
button:active
{
    background-color: #000000;
    transform: translateY(4px);
}
.call_buttons
{
    width: 100vw;
    height: auto;
    display: flex;
    align-content:space-around;
    justify-content: space-around;
}
.button-with-shadow-wide img
{
    width: 3em;
    height: 3em;
    padding: 5%;
    margin: 1% 2% 1% 4%;  
}
.button-with-shadow
{
    width: 2.5em;
    height: 2.5em;
    display: flex;
    flex-wrap: wrap;
} 
.invisible
{
    width: 2.5em;
    height: 2.5em;
}
.button-shadow-color-pink
{
    /* box-shadow: 0 0 0.5em #A372BC; */
    border: 1px solid #a372bc;
    border-radius: 5%;
}
.button-shadow-color-yellow
{
    box-shadow: 0 0 0.5em #ffcd05;
    
}
.button-shadow-color-green
{
    /* box-shadow: 1px 1px 5px 1px #22b102; */
    border: 1px solid #22b102;
}
.button-shadow-color-blue
{
    box-shadow: 0 0 0.5em #4ccbe0;
}
.button-shadow-color-orange
{
    /* box-shadow: 0 0 0.5em #FFA500; */
    border: 1px solid #ffa500;
    border-radius: 5%;
}
.borderRadius5
{
    border-radius: 5%;
}
.boligBox
{
    width: 94vw;
    height: 20vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: space-evenly;
}
.outDoorInfo .inDoorInfo
{
    width:40vw;
    height: 20vh;
    border:1px solid #4ccbe0;
}
.home_icon img 
{
    width: 15vw;
    height: auto;
}
.backGroundColor
{
    background-color: none;
}
.lockButtonsContainer
{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
#closedLock #homeClosedLock #openLock
{
    fill:#000; 
}
.lockButtons 
{
    width: 20%;
    height: auto;
    padding: 5%;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.7);
    background-color: #fff;
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.2);
}
.lockEngagedOrNot
{
    fill: #fff;
}
.buttonBGColor
{
    background-color: #000;
    box-shadow: inset 1px 3px 10px 5px rgba(0, 0, 0, 0.2);
}

/********************** egnheder ***********************/
.thermostat
{
    width: 90vw;
    height: 50vh;
}
#thermostatInColor
{
    stroke:url("#linear"); 
    stroke-width:1.2em; 
    fill:none; 
    filter:url("#insetShadow");
}
#innerCircle
{
    fill: #fff;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.2));
}
#temperatureIndicator
{
    fill: #fff;
    stroke: #fff;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.2));
    stroke-width:0.2;
    position: abolute;
}
#powerButton
{
    filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.2));
}
.imprintedButtons
{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content:space-evenly;
}
.borderShadow
{
    width: 3.3em;
    height: 3.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0);
    box-shadow: inset 3px 3px 5px #969696;
    /* box-shadow: 1px 1px 5px #969696; */
}
.individualButtons
{
    width: 3em;
    height: 3em;
    
}
.buttonImpressed
{
    box-shadow: inset 2px 3px 10px 15px rgba(0, 0, 0, 0.4);
}
.buttonEmbossed
{
    box-shadow:2px 3px 4px 15px rgba(0, 0, 0, 0.3);
}.noShadow
{
    box-shadow: none;
}
 
}

/* Larger than phablet */
@media (min-width: 550px) {
    header 
{
    width: 94vw;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: left;
    justify-content: left;
}
main
{
    width: 94vw;
    margin: 2%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.burger_menu
{
    width: 3em;
    height: auto;
    margin-right: 20%;
}
.soft-black
{
    background-color: #1b1b1b;
}
#logo img
{
    width: 20vw;
    height: auto;
}
#questionMark img
{
    width:10VW;
    height: auto;
    padding: 1%;
    margin: 25% 0 0 165%;
    border-radius: 50%;
}
.containers
{
    width: 100vw;
    padding: 3%;
    align-items: center;
    justify-content: center;
}
.video-images
{
    width: 86vw;
    height: auto;
}
.drop-shadow
{
    box-shadow: 0.2em 0.2em 15px #bbbbbb;
    border-radius: 5%;
}
#frontpageCamera
{
    border: #969696;
}
button
{
    width: auto;
    height: auto;
    margin: 1%;
    padding: 2%;
    background-color: #ffffff;
    border: none;
    border-radius: 5%;
}
.button-with-shadow
{
    width: 3em;
    height: 3em;
    margin: 1% 2% 1% 4%;  
} 
.button-shadow-color-pink
{
    box-shadow: 0 0 0.5em #F703FF;
    border-radius:5%;
}
.button-shadow-color-yellow
{
    box-shadow: 0 0 0.5em #ffcd05;
    border-radius:5%;
}
.button-shadow-color-green
{
    box-shadow: 0 0 0.5em #22b102;
    border-radius:5%;
}
.button-shadow-color-blue
{
    box-shadow: 0 0 0.5em #75bae8;
    border-radius:5%;
}
.button-shadow-color-orange
{
    box-shadow: 0 0 0.5em #FF3F02;
    border-radius:5%;
}
.boligBox
{
    width: 86vw;
    min-height: 18vh;
    padding: 1%;
    display: flex;
}
.infoName 
{
    margin: 3%;
}
.infoResults
{
    margin: 3% 0 0 34%;
}
.lockButtons
{
    width: 18%;
    height: auto;
    margin: 0 6%;
}
}

/* Larger than tablet */
@media (min-width: 750px) {
    header 
{
    width: 94vw;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: left;
    justify-content: left;
}
main
{
    width: 94vw;
    margin: 2%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.burger_menu
{
    width: 3em;
    height: auto;
    margin-right: 20%;
}
.soft-black
{
    background-color: #1b1b1b;
}
#logo img
{
    width: 20vw;
    height: auto;
}
#questionMark img
{
    width:10VW;
    height: auto;
    padding: 1%;
    margin: 25% 0 0 165%;
    border-radius: 50%;
}
.containers
{
    width: 100vw;
    height: auto;
    padding: 3%;
    align-items: center;
    justify-content: center;
}
.video-images
{
    width: 86vw;
    height: auto;
}
.drop-shadow
{
    box-shadow: 0.2em 0.2em 15px #bbbbbb;
    border-radius: 5%;
}
#frontpageCamera
{
    border: #969696;
}
button
{
    width: auto;
    height: auto;
    margin: 1%;
    padding: 2%;
    background-color: #ffffff;
    border: none;
    border-radius: 5%;
}
.button-with-shadow
{
    width: 3em;
    height: 3em;
    margin: 1% 2% 1% 4%;  
} 
.button-shadow-color-pink
{
    box-shadow: 0 0 0.5em #F703FF;
    border-radius:5%;
}
.button-shadow-color-yellow
{
    box-shadow: 0 0 0.5em #ffcd05;
    border-radius:5%;
}
.button-shadow-color-green
{
    box-shadow: 0 0 0.5em #22b102;
    border-radius:5%;
}
.button-shadow-color-blue
{
    box-shadow: 0 0 0.5em #75bae8;
    border-radius:5%;
}
.button-shadow-color-orange
{
    box-shadow: 0 0 0.5em #FF3F02;
    border-radius:5%;
}
.boligBox
{
    width: 86vw;
    min-height: 18vh;
    padding: 1%;
    display: flex;
}
.infoName 
{
    margin: 3%;
}
.infoResults
{
    margin: 3% 0 0 34%;
}
.lockButtons
{
    width: 18%;
    height: auto;
    margin: 0 6%;
}
}

/* Larger than desktop */
@media (min-width: 1000px) {
    header 
{
    width: 94vw;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: left;
    justify-content: left;
}
main
{
    width: 94vw;
    margin: 2%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.burger_menu
{
    width: 3em;
    height: auto;
    margin-right: 20%;
}
.soft-black
{
    background-color: #1b1b1b;
}
#logo img
{
    width: 20vw;
    height: auto;
}
#questionMark img
{
    width:10VW;
    height: auto;
    padding: 1%;
    margin: 25% 0 0 165%;
    border-radius: 50%;
}
.containers
{
    width: 100vw;
    padding: 3%;
    align-items: center;
    justify-content: center;
}
.video-images
{
    width: 86vw;
    height: auto;
}
.drop-shadow
{
    box-shadow: 0.2em 0.2em 15px #bbbbbb;
    border-radius: 5%;
}
#frontpageCamera
{
    border: #969696;
}
button
{
    width: auto;
    height: auto;
    margin: 1%;
    padding: 2%;
    background-color: #ffffff;
    border: none;
    border-radius: 5%;
}
.button-with-shadow
{
    width: 3em;
    height: 3em;
    margin: 1% 2% 1% 4%;  
} 
.button-shadow-color-pink
{
    box-shadow: 0 0 0.5em #F703FF;
    border-radius:5%;
}
.button-shadow-color-yellow
{
    box-shadow: 0 0 0.5em #ffcd05;
    border-radius:5%;
}
.button-shadow-color-green
{
    box-shadow: 0 0 0.5em #22b102;
    border-radius:5%;
}
.button-shadow-color-blue
{
    box-shadow: 0 0 0.5em #75bae8;
    border-radius:5%;
}
.button-shadow-color-orange
{
    box-shadow: 0 0 0.5em #FF3F02;
    border-radius:5%;
}
.boligBox
{
    width: 86vw;
    min-height: 18vh;
    padding: 1%;
    display: flex;
}
.infoName 
{
    margin: 3%;
}
.infoResults
{
    margin: 3% 0 0 34%;
}
.lockButtons
{
    width: 18%;
    height: auto;
    margin: 0 6%;
}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    header 
{
    width: 94vw;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: left;
    justify-content: left;
}
main
{
    width: 94vw;
    margin: 2%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.burger_menu
{
    width: 3em;
    height: auto;
    margin-right: 20%;
}
.soft-black
{
    background-color: #1b1b1b;
}
#logo img
{
    width: 20vw;
    height: auto;
}
#questionMark img
{
    width:10VW;
    height: auto;
    padding: 1%;
    margin: 25% 0 0 165%;
    border-radius: 50%;
}
.containers
{
    width: 100vw;
    padding: 3%;
    align-items: center;
    justify-content: center;
}
.video-images
{
    width: 86vw;
    height: auto;
}
.drop-shadow
{
    box-shadow: 0.2em 0.2em 15px #bbbbbb;
    border-radius: 5%;
}
#frontpageCamera
{
    border: #969696;
}
button
{
    width: auto;
    height: auto;
    margin: 1%;
    padding: 2%;
    background-color: #ffffff;
    border: none;
    border-radius: 5%;
}
.button-with-shadow
{
    width: 3em;
    height: 3em;
    margin: 1% 2% 1% 4%;  
} 
.button-shadow-color-pink
{
    box-shadow: 0 0 0.5em #F703FF;
    border-radius:5%;
}
.button-shadow-color-yellow
{
    box-shadow: 0 0 0.5em #ffcd05;
    border-radius:5%;
}
.button-shadow-color-green
{
    box-shadow: 0 0 0.5em #22b102;
    border-radius:5%;
}
.button-shadow-color-blue
{
    box-shadow: 0 0 0.5em #75bae8;
    border-radius:5%;
}
.button-shadow-color-orange
{
    box-shadow: 0 0 0.5em #FF3F02;
    border-radius:5%;
}
.boligBox
{
    width: 86vw;
    min-height: 18vh;
    padding: 1%;
    display: flex;
}
.infoName 
{
    margin: 3%;
}
.infoResults
{
    margin: 3% 0 0 34%;
}
.lockButtons
{
    width: 18%;
    height: auto;
    margin: 0 6%;
}
}