*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: url('assets/EuroStyle_Normal.ttf');
}
main
{
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContent
{
  width: 30vw;
  height: auto;
}
.cls-1
{
  fill:none;
  stroke-width:90px;
}
#house_frame
{
  stroke-dasharray: 2500;
   stroke-dashoffset: 2500;
   animation: runLineHouse 1.2s ease-out forwards;
}
@keyframes runLineHouse
{
  from
  { 
    stroke-dashoffset: 2500;
  }
  to
  {
      stroke-dashoffset:0;
  }
} 
#box
{
  height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#house_roof
{
  position: absolute;
  top: 5rem;
  opacity: 0;
  animation: topFadeIn 1s 1.5s forwards;
}
@keyframes topFadeIn
{
  0%
  { 
    position: absolute;
    top: -10rem;
    opacity: 0;
  }
  100%
  {
      position: absolute;
      top: 25%;
      opacity: 1;
  }
} 
#one_bulb_line
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 2.2s forwards;
}
#two_bulb_line
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 2.4s forwards;
}
#three_bulb_line
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 2.6s forwards;
}
#lightbulb
{
  opacity: 0;
  transform-origin: center;
  animation: opacityShow 0.2s ease-in-out 2.8s forwards, light_blink 1s ease-in-out 2.9s;
}
@keyframes light_blink
{
  to 
  {
    transform: scale(1.1);
  }
}

#wifi_center
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 3s forwards;
}
#one_wifi_line
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 3.2s forwards;
}
#two_wifi_line
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 3.4s forwards;
}
#three_wifi_line
{
  opacity: 0;
  animation: opacityShow 0.2s ease-in-out 3.6s forwards;
}
#companyName
{
  opacity: 0;
  animation: opacityShow 0.4s ease-in-out 3.8s forwards;
}
@keyframes opacityShow
{
  from
  {
    opacity: 0;
  }  
  to
  {
    opacity: 1;
  }
}
.cls-1,.cls-3
{
  stroke:#4ccbe0;
  stroke-miterlimit:10;
}
.cls-3,.cls-4,.cls-5
{
  fill:#4ccbe0;
}

.main-container {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 18em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 38px;
  white-space: nowrap;

  animation: typewriter 4s steps(44) 1s 1 normal both;

}

/*

  animation-name: typewriter;
  animation-duration: 4s;
  animation-timing-function: steps(44);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;

*/


@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 18em;
  }
}

